service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      // Applies to single document read requests
      allow get: if request.auth.uid != null;

      // Applies to queries and collection read requests
      allow list: if request.auth.uid != null;

      // Applies to writes to nonexistent documents
      allow create: if request.auth.uid != null;

      // Applies to writes to existing documents
      allow update: if request.auth.uid == userId;

      // Applies to delete operations
      allow delete: if request.auth.uid == userId;
    }
  }
}
