<mat-sidenav-container class="example-container" fullscreen>

  <mat-sidenav #sidenav class="example-sidenav">
    <mat-list>
      <mat-list-item [routerLink]="['/home']" class="nav-bar-button">Home</mat-list-item>

    </mat-list>
  </mat-sidenav>

  <div class="example-sidenav-content">

    <header role="banner">
      <mat-toolbar color="primary">
        <button type="button"
                aria-label="Toggle sidenav"
                mat-icon-button (click)="sidenav.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Google Cloud Fest</span>
        <!--
        <img class="logoNavbar" [src]="fullImagePath">
        -->
        <span class="toolbar-spacer"></span>

        <div *ngIf="auth.user | async; then authenticated else guest">

        </div>

        <ng-template #guest>
          <button mat-raised-button color="primary" (click)="goToSignIn()">Signin</button>
          <button mat-raised-button color="primary" (click)="goToSignUp()">SignUp</button>
        </ng-template>

        <ng-template #authenticated>

          <div *ngIf="auth.user | async as user">
            <span>{{ user.firstname }} {{ user.lastname }}</span>
            <mat-icon class="md-24" class="example-icon">account_circle</mat-icon>

            <button mat-icon-button [matMenuTriggerFor]="menuUser">
              <mat-icon class="md-24">more_vert</mat-icon>
            </button>

            <mat-menu #menuUser="matMenu">
              <!-- AccountInfo Menu Item -->
              <button mat-menu-item color="primary" (click)="goToPersonalInfo(0)">
                <mat-icon class="md-18">account_circle</mat-icon>
                <span>Account info</span>
              </button>

              <!-- ProfileInfo Menu Item -->
              <button mat-menu-item color="primary" (click)="goToPersonalInfo(1)">
                <mat-icon class="md-18">face</mat-icon>
                <span>Profile info</span>
              </button>

              <!-- Sign Out Menu Item -->
              <button mat-menu-item color="primary" (click)="goToSignOut()">
                <mat-icon class="md-18">exit_to_app</mat-icon>
                <span>Sign out</span>
              </button>
            </mat-menu>
          </div>

        </ng-template>

      </mat-toolbar>
    </header>

    <main class="content">

      <router-outlet></router-outlet>

    </main>

    <footer class="footer">

    </footer>

  </div>


</mat-sidenav-container>
