<div
  gdAreas="header header | side content | footer footer"
  gdGaps="16px"
  gdRows="auto auto auto"
  gdAreas.lt-md="header | side | content | footer"
  gdRows.lt-md="auto auto auto auto">

  <div gdArea="header">
    <h1>Sign In</h1>
    <p>Not a member? Please <a routerLink="/signup">signup</a> instead.</p>
  </div>

  <form class="form-container"
        [formGroup]="signInFormGroup"
        (ngSubmit)="onSignInWithEmailAndPassword()">

    <div gdArea="side" fxFlex="0 1 calc(50% - 32px)">
      <div fxLayout="row wrap">
          <mat-form-field>
            <input matInput placeholder="Email" formControlName="emailCtrl" required>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="password" placeholder="Password" formControlName="passwordCtrl" required>
          </mat-form-field>

          <div>
            <button mat-raised-button (click)="signInFormGroup.reset()">Reset</button>
            <button mat-raised-button type="submit"  color="primary">Next</button>
          </div>
      </div>
    </div>

    <div gdArea="content" fxFlex="0 1 calc(50% - 32px)">
      <button mat-raised-button (click)="onSignInWithGoogle()">Sign in with Google</button>
    </div>

  </form>

  <div gdArea="footer"></div>

</div>









