<h1>
  Sign In
</h1>

<p>Not a member? Please <a routerLink="/signup">signup</a> instead.</p>

<form class="form-container"
      [formGroup]="signInFormGroup"
      (ngSubmit)="onSignIn()"
      fxLayout="column" fxLayoutGap="32px">

  <mat-form-field>
    <input matInput placeholder="Email" formControlName="emailCtrl" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" placeholder="Password" formControlName="passwordCtrl" required>
  </mat-form-field>

  <div>
    <button mat-raised-button (click)="signInFormGroup.reset()">Reset</button>
    <button mat-raised-button type="submit"  color="primary">Next</button>
  </div>
</form>
