<div gdAreas="header header | side content | footer footer" gdGaps="16px" gdRows="auto auto auto" gdAreas.lt-md="header header | side content | footer footer"
 gdRows.lt-md="auto auto auto" gdAreas.lt-sm="header | side | content | footer" gdRows.lt-sm="auto auto auto">

	<div gdArea="header">
		<h1>Sign In</h1>
		<p>Not a member? Please <a routerLink="/signup">signup</a> instead.</p>
	</div>
	<div gdArea="side">
    <div style="max-width: 400px">
		<form [formGroup]="signInFormGroup" (ngSubmit)="onSignInWithEmailAndPassword()" fxLayout="column">


			<mat-form-field>
				<input matInput placeholder="Email" formControlName="emailCtrl" required>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="password" placeholder="Password" formControlName="passwordCtrl" required>
          </mat-form-field>

        <div>  
            <button mat-raised-button (click)="signInFormGroup.reset()">Reset</button>&nbsp;&nbsp;
            <button mat-raised-button type="submit"  color="primary">Next</button>
            </div>
      </form>    
    </div>
    
</div>
    <div gdArea="content">
      <br><br>
      <div>
      <button mat-raised-button (click)="onSignInWithGoogle()" class="btn-auth btn-google">Sign in with Google</button>
      <br><br>
      <button mat-raised-button (click)="onSignInWithGitHub()" class="btn-auth btn-github">Sign in with Github</button>
       <div>
    </div>

  

  <div gdArea="footer"></div>
</div>